# Experiment

In [8]:
#Import pandas and numpy
import pandas as pd
import numpy as np

In [9]:
#Read titanic and save it as a DataFrame called df
df = pd.read_csv('titanic.csv')

#Create a pivot table from the DataFrame in order to calculate rates
PivotBySex = df.pivot_table(values='survived', index=['alive'],
                    columns=['sex'], aggfunc='count')
#Create a total column
PivotBySex['total'] =  PivotBySex['female'] + PivotBySex['male']

#Calculate death rates for each variable (female, male, total)
PivotBySex['%female'] = PivotBySex['female']/PivotBySex['female'].sum()*100
PivotBySex['%male'] = PivotBySex['male']/PivotBySex['male'].sum()*100
PivotBySex['%total'] = PivotBySex['total']/PivotBySex['total'].sum()*100

#Print the new DataFrame with operations
PivotBySex.head()

sex    female  male  total    %female      %male     %total
alive
no         81   468    549  25.796178  81.109185  61.616162
yes       233   109    342  74.203822  18.890815  38.383838

In [ ]:
#Analysis by class

In [10]:
#Read titanic and save it as a DataFrame called df
df = pd.read_csv('titanic.csv')

#Create a pivot table from the DataFrame in order to calculate rates
PivotByClass = df.pivot_table(values='survived', index=['alive'],
                    columns=['class'], aggfunc='count')

#Calculate death rates for each variable (First, Second, Third)
PivotByClass['%First'] =  PivotByClass['First']/PivotByClass['First'].sum()*100
PivotByClass['%Second'] =  PivotByClass['Second']/PivotByClass['Second'].sum()*100
PivotByClass['%Third'] =  PivotByClass['Third']/PivotByClass['Third'].sum()*100

#Print the new DataFrame with operations
PivotByClass.head()

class  First  Second  Third     %First    %Second     %Third
alive
no        80      97    372  37.037037  52.717391  75.763747
yes      136      87    119  62.962963  47.282609  24.236253

In [2]:
### Analysis by age

In [11]:
#Read titanic and save it as a DataFrame called df
df = pd.read_csv('titanic.csv')

#Create age ranges based on age column data
conditions = [
    (df['age'] <= 18),
    (df['age'] > 18) & (df['age'] <= 29),
    (df['age'] > 29) & (df['age'] <= 39),
    (df['age'] > 39) & (df['age'] <= 49),
    (df['age'] > 49) & (df['age'] <= 59),
    (df['age'] > 59) & (df['age'] <= 69),
    (df['age'] > 69)
    ]

#Name this age ranges
values = ['Under 18', '19 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', 'Over 70']

#Add a new column named Age_Range to the DataFrame based on the ranges and names specified before 
df['Age_Range'] = np.select(conditions, values)

#Create a pivot table from the DataFrame
PivotByAge = df.pivot_table(values='survived', index=['Age_Range'],
                    columns=['alive'], aggfunc='count')

#Caluclate death rates for each age range
PivotByAge['%no'] =  PivotByAge['no']/PivotByAge['no'].sum()*100
PivotByAge['%yes'] = PivotByAge['yes']/PivotByAge['yes'].sum()*100

#Print final DataFrame
PivotByAge.head(8)

alive       no  yes        %no       %yes
Age_Range
0          125   52  22.768670  15.204678
19 to 29   159   86  28.961749  25.146199
30 to 39    94   73  17.122040  21.345029
40 to 49    55   34  10.018215   9.941520
50 to 59    28   20   5.100182   5.847953
60 to 69    13    6   2.367942   1.754386
Over 70      6    1   1.092896   0.292398
Under 18    69   70  12.568306  20.467836